.ui-notification {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: "tnum";
  z-index: 1010;
  width: 384px;
  max-width: calc(100vw - 32px);
  margin-right: 24px;
  top: 45px;
  right: 10px;
  bottom: auto;
  position: fixed;
}

.ui-notification-fade-enter,
.ui-notification-fade-appear {
  opacity: 0;
  animation-duration: 0.24s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  animation-play-state: paused;
}

.ui-notification-fade-leave {
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  animation-duration: 0.2s;
  animation-play-state: paused;
}

.ui-notification-fade-enter,
.ui-notification-fade-enter-active,
.ui-notification-fade-appear,
.ui-notification-fade-appear-active {
  animation-name: UiNotificationFadeIn;
  animation-play-state: running;
}

.ui-notification-fade-leave,
.ui-notification-fade-leave-active {
  animation-name: UiNotificationFadeOut;
  animation-play-state: running;
}

.ui-notification-notice {
  position: relative;
  margin-bottom: 16px;
  padding: 16px 24px;
  overflow: hidden;
  line-height: 1.5;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@keyframes UiNotificationFadeIn {
  0% {
    left: 384px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes UiNotificationFadeOut {
  0% {
    max-height: 150px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}
