@font-face {
  font-family: "Open Sans";
  src: url(./fonts/open-sans/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/open-sans/OpenSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/open-sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/open-sans/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
